# Backend
BACKEND_PORT=8081

# Postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=change_me
POSTGRES_USER=postgres
POSTGRES_DB=backend
POSTGRES_HOST=postgres
POSTGRES_DATA_PATH=/var/lib/postgresql/data
POSTGRES_LOGS_PATH=/var/lib/postgresql/logs
